body {
    /* background-color: #1a759f; */
    /* background: #C33764;  /* fallback for old browsers
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #1D2671, #C33764); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: rgb(36,0,0);
background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(2,51,12,1) 20%, rgba(81,84,5,1) 32%, rgba(9,121,31,1) 47%, rgba(155,7,7,1) 63%, rgba(154,175,6,1) 80%, rgba(0,255,209,1) 97%);

}

